@import "variables";

.btn.btn-secondary.add-timer-button {
  height: 60px;
  background-color: #1780c7bd;
  border: 2px dashed $secondary-p1;
  color: rgba(255, 255, 255, 0.705);
  font-size: 1.1rem;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba(2, 118, 196, 0.91);
    border: 2px dashed $secondary-p1;
    color: rgba(255, 255, 255, 0.918);
    box-shadow: none;
  }
}
