html, body .App, .navbar, .custom-navbar.navbar-light .navbar-brand {
  background-color: #2ea7f8;
  color: white; }

.menu-dropdown-toggle-button.dropdown-toggle::after,
.dropstart .menu-dropdown-toggle-button.dropdown-toggle::before {
  content: none; }

.menu-dropdown-toggle-button {
  height: 40px;
  width: 40px; }
