#countdown-timer-numbers-big {
  font-size: Max(Min(calc(20vw), 150px), 70px); }

.card.countdown-timer-container {
  background-color: #54b8fc;
  border: none; }

@media (min-width: 768px) {
  #countdown-timer-numbers-big {
    font-size: 150px; } }
